
<script
  src="https://kit.fontawesome.com/283335a286.js"
  crossorigin="anonymous"
></script>
<link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>
<section class="contenidoFooter">
<div class="container footerPrimero">
  <div class="row">
    <div class="col contactanos text-center mb-5 py-4">
      <h3>Contáctanos</h3>
      <h3>
        <span class="material-symbols-outlined"> location_on </span>23. Roma
        Italia 75012
      </h3>
      <h3>
        <span class="material-symbols-outlined"> mail </span> lucaturilli.it
      </h3>
      <h3><span class="material-symbols-outlined"> call </span>+31123410921</h3>
      <iframe
        class="mapa"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63624.30884214524!2d-74.11503208474232!3d4.6794149695104945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a8b34660809%3A0x9b1b939444f6251f!2sDI%20LUCCA!5e0!3m2!1sen!2sco!4v1701832025226!5m2!1sen!2sco"
        width="300"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
      <!-- <div class="redes-sociales">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
      </div> -->
    </div>
    <div class="col formulario mb-5 d-none d-md-block">
      <form class="row g-3">
        <div class="col-md-12">
          <label for="inputEmail4" class="form-label">Nombre</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Eduardo"
          />
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="Ramírez"
          />
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Correo</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress2"
            placeholder="ejemplo@ejemplo"
          />
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Teléfono</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress2"
            placeholder="+90 543 779 9410"
          />
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Mensaje</label>
          <input type="text" class="form-control" id="inputAddress22" />
          <br />
          <button style="width: 120px" type="button" class="btn btn-success">
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</section>

<!-- <footer>
  <div class="footer">
    <ul>
      <li>
        <h3>Direccion</h3>
        <p>23.Roma Italia 75012</p>
      </li>
      <li>
        <h3>Dias especiales</h3>
        <p>Sabados y Jueves 7am - 11pm</p>
      </li>
      <li>
        <h3>Horarios</h3>
        <p>Lunes - Domingo 7am - 11pm</p>
      </li>
      <li>
        <h3>Noticias</h3>
        <p>Suscríbete para recibir más noticias</p>
      </li>
    </ul>
  </div>

  <div class="iconos">
    <li>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
    </li>
  </div>
</footer> -->
