<div>
 
</div>
<div id="vinos" class="cover">
  <img
    src="https://img.freepik.com/free-photo/front-view-wine-glasses-fresh-grapes-walnuts-yellow-cheese-wood-board-overturned-bottle-dark-background_140725-144998.jpg?size=626&ext=jpg&uid=R125477347&ga=GA1.1.1031628302.1696270278&semt=sph" />
  <p>CARTA DE VINOS</p>
</div>

<div class="contenedor-vinos">
    <h1>CARTA DE VINOS</h1>
    <div  class="contenedor-tarjetas">
      <div class="card" style="width: 18rem;" >
        <img src="http://www.restaurantemesonlacueva.com/menus/2019-grupo/cartafinvino.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/wine-bottle-glass-grapes-isolated-white_167946-32.jpg?w=360&t=st=1701468863~exp=1701469463~hmac=8483901bec291a04c639824f91de5889553a5db8723d3b9704905326459d9b58" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/beautiful-wine-composition_144627-26385.jpg?w=360&t=st=1701445005~exp=1701445605~hmac=c7b956075693f86843800f7bce47762d62c36a47c3f507e5d5b6fe33c7c7d67c" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://www.graficosta.com/238-large_default/cartas-de-vinos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://www.graficosta.com/238-large_default/cartas-de-vinos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://www.graficosta.com/238-large_default/cartas-de-vinos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://www.graficosta.com/238-large_default/cartas-de-vinos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://www.graficosta.com/238-large_default/cartas-de-vinos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    </div>
