<div class="contenedor-cocteles">
    <h1>CARTA DE COCTELES</h1>
    <div class="contenedor-filtros">
      </div>
    <div class="contenedor-tarjetas">
      <div class="card" style="width: 18rem;">
        <img src="http://4.bp.blogspot.com/-YvQP97tUfSA/T7fkWAsgbsI/AAAAAAAADy0/fGUjaMH33qw/s1600/margaritas_cocteles.jpg">
        <div class="card-body">
          <h5 class="card-title">Margarita</h5>
          <p class="card-text-short">Tequila, lime, orange liqueur, salty rim.</p>
          <p class="card-text">Classic tequila cocktail with a refreshing citrus punch.</p>
          <p class="card-price">$10</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
      </div>
  </div>
  <div class="contenedor-cocteles">
    <h1>CARTA DE COCTELES</h1>
    <div class="contenedor-filtros">
      </div>
    <div class="contenedor-tarjetas">
      <div class="card" style="width: 18rem;">
        <img src="https://www.gastrolabweb.com/u/fotografias/m/2021/5/7/f1280x720-12925_144600_5050.jpeg" class="card-img-top" alt="Margarita">
        <div class="card-body">
          <h5 class="card-title">Margarita</h5>
          <p class="card-text-short">Tequila, lime, orange liqueur, salty rim.</p>
          <p class="card-text">Classic tequila cocktail with a refreshing citrus punch.</p>
          <p class="card-price">$10</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
      </div>
  </div>

<div class="contenedor-cocteles">
  <h1>CARTA DE COCTELES</h1>
  <div class="contenedor-filtros">
    </div>
  <div class="contenedor-tarjetas">
    <div class="card" style="width: 18rem;">
      <img src="https://www.gastrolabweb.com/u/fotografias/m/2021/5/7/f1280x720-12925_144600_5050.jpeg" class="card-img-top" alt="Margarita">
      <div class="card-body">
        <h5 class="card-title">Margarita</h5>
        <p class="card-text-short">Tequila, lime, orange liqueur, salty rim.</p>
        <p class="card-text">Classic tequila cocktail with a refreshing citrus punch.</p>
        <p class="card-price">$10</p>
        <button class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
    </div>
</div>

  <div class="contenedor-cocteles">
    <h1>CARTA DE COCTELES</h1>
    <div class="contenedor-filtros">
      </div>
    <div class="contenedor-tarjetas">
      <div class="card" style="width: 18rem;">
        <img src="https://cdn7.kiwilimon.com/recetaimagen/33895/39413.jpg" class="card-img-top" alt="Margarita">
        <div class="card-body">
          <h5 class="card-title">Margarita</h5>
          <p class="card-text-short">Tequila, lime, orange liqueur, salty rim.</p>
          <p class="card-text">Classic tequila cocktail with a refreshing citrus punch.</p>
          <p class="card-price">$10</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
      </div>
  </div>
  <div class="contenedor-cocteles">
    <h1>CARTA DE COCTELES</h1>
    <div class="contenedor-filtros">
      </div>
    <div class="contenedor-tarjetas">
      <div class="card" style="width: 18rem;">
        <img src="https://i.blogs.es/5b7bbe/coctel_portada/1024_2000.jpg" class="card-img-top" alt="Margarita">
        <div class="card-body">
          <h5 class="card-title">Margarita</h5>
          <p class="card-text-short">Tequila, lime, orange liqueur, salty rim.</p>
          <p class="card-text">Classic tequila cocktail with a refreshing citrus punch.</p>
          <p class="card-price">$10</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
      </div>
  </div>
  <div class="contenedor-cocteles">
    <h1>CARTA DE COCTELES</h1>
    <div class="contenedor-filtros">
      </div>
    <div class="contenedor-tarjetas">
      <div class="card" style="width: 18rem;">
        <img src="https://cdn7.kiwilimon.com/recetaimagen/33895/39413.jpg" class="card-img-top" alt="Margarita">
        <div class="card-body">
          <h5 class="card-title">Margarita</h5>
          <p class="card-text-short">Tequila, lime, orange liqueur, salty rim.</p>
          <p class="card-text">Classic tequila cocktail with a refreshing citrus punch.</p>
          <p class="card-price">$10</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
      </div>
  </div> <div class="contenedor-cocteles">
    <h1>CARTA DE COCTELES</h1>
    <div class="contenedor-filtros">
      </div>
    <div class="contenedor-tarjetas">
      <div class="card" style="width: 18rem;">
        <img src="https://cigarraldelangel.com/wp-content/uploads/2014/08/412_79224_2562826_529738.jpg" class="card-img-top" alt="Margarita">
        <div class="card-body">
          <h5 class="card-title">Margarita</h5>
          <p class="card-text-short">Tequila, lime, orange liqueur, salty rim.</p>
          <p class="card-text">Classic tequila cocktail with a refreshing citrus punch.</p>
          <p class="card-price">$10</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
      </div>
  </div>
  <div class="contenedor-cocteles">
    <h1>CARTA DE COCTELES</h1>
    <div class="contenedor-filtros">
      </div>
    <div class="contenedor-tarjetas">
      <div class="card" style="width: 18rem;">
        <img src="https://tse1.mm.bing.net/th?id=OIP.LDytxiN4XT1nLXcsRm5sBgHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="Margarita">
        <div class="card-body">
          <h5 class="card-title">Margarita</h5>
          <p class="card-text-short">Tequila, lime, orange liqueur, salty rim.</p>
          <p class="card-text">Classic tequila cocktail with a refreshing citrus punch.</p>
          <p class="card-price">$10</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
      </div>
  </div>
  
  
  
  
  
