
<section>
  <div class="imagenMenu d-md-block">
    <h1>
      PASTA FRESCA HECHA A <br />
      MANO, PIZZA, RISOTTO <br />
      Y MÁS
    </h1>
    <br />
    <p>
      No hay nada mejor que la pasta fresca.<br />

      Conoce nuestro menú con una larga tradición <br />donde todo se cocina a
      pedido, <br />
      desde cero en nuestra cocina abierta.<br />
      Aparte puedes personalizar tu plato <br />

      exactamente como lo deseas. <br />
      <br />
    </p>

    <h2>¿CÓMO PEDIR EN RISOTTO RISTORANTE?</h2>
    <p>
      Realizas tu pedido mediante un código QR <br> una vez que estás en la mesa.
      <br />
      Elige tus platos y nuestros Camareros estarán <br> a tu disposición
      para atenderte, te llevaremos <br> la comida, las bebidas, el postre <br />
      y lo que desees. <br />
      <br>
      Se acabaron las colas para pedir directamente al chef. <br />
      Podrás seguir viéndonos cocinar en la cocina abierta, <br> pero ahora,
      ¡Desde la comodidad de tu asiento!
    </p>
  </div>

  <div class="container">
    <div class="row-cols-12 ">
      <div class="container Menu sticky-top"> 
        <h1 class="title">Menú</h1>
        <div class="row d-none d-md-block">
          <div class="container navMenu ">
            <a class="nav-link" href="/pastas"><span>Pasta</span></a>
            <a class="nav-link" href="/antipasti"><span>Antipasti</span></a>
            <a class="nav-link" href="/vinos"><span>Vinos</span></a>
            <a class="nav-link" href="/cocteles"><span>Cocteles</span></a>
            <a class="nav-link" href="/insalatiysopas"><span>Insalati y Sopas</span></a>
            <a class="nav-link" href="/postres"><span>Postres</span></a>
            <a class="nav-link" href="/pizzas"><span>Pizza</span></a>
            <a href="https://drive.google.com/file/d/1NMWaq6No3ZiDsuXYLQrXpitG8Evl2RZi/view?usp=sharing"><button
                type="button" class="btn btn-danger pdfMenu">
                PDF-Menu
              </button></a>
          </div>
        </div>
      </div>

      <div id="pastas" class="cover">
        <img
          src="https://vapiano.com/app/uploads/sites/4/2023/03/Banner-Website-Pasta.jpg"
        />
        <p>PASTAS</p>
      </div>

      <div class="container imagenPasta text-center">
        <div class="row row-col imagenPasta">
          <div class="col-12 col-md-6 col-lg-4">
            <a routerLink="/menu-pastas"><app-card
                img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Hot-Sweet-Bacon-768x768.jpg"
                title="Hot Sweet Bacon"
                descripcion="Tocineta crujiente, champiñones, cebolla caramelizada, vino blanco, cebollín, crema de leche, romero y peperoncino."></app-card></a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <a routerLink="/menu-pastas"><app-card
                img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Gamberetti-E-Spinaci-768x768.jpg"
                class="imagen" title="Gamberetti E Spinacci"
                descripcion="Camarones, pesto de albahaca con crema, queso parmesano, espinaca baby, tomates cherry y cebolla blanca."></app-card></a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <app-card
              img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Filetto-Di-Manzo-Vino-Rosso-768x768.jpg"
              title="Filetto Di Manzo con Vino Rosso"
              descripcion="Lomo de res, champiñones, calabacín, zanahoria, cebolla balsámica en salsa de reducción de vino tinto y crema de leche."></app-card>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <app-card img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Bolognese-768x768.jpg"
              title="Bolognese"
              descripcion="Salsa bolognese, tomates cherry y zanahoria con salsa pomodoro."></app-card>
          </div>
          <div class="ccol-6 col-md-4 col-lg-4">
            <app-card img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Carbonara-768x768.jpg  "
              title="Carbonara"
              descripcion="Tocineta ahumada, cebolla, crema de leche, huevo, queso parmesano con un toque de perejil."></app-card>
          </div>
          <div class="col-12 col-md-6 col-lg-4 nuevoMenu">
            <div class="card d-md-block" style="width: 20rem; height: 10rem">
              <div class="card-body cardMenu">
                <h5 class="card-title">Mas de nuestro Menú..</h5>
                <a href="https://drive.google.com/file/d/1NMWaq6No3ZiDsuXYLQrXpitG8Evl2RZi/view?usp=sharing"
                  id="fullMenu" class="btn btn btn-outline-danger">Get full menu PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="antipasti" class="cover">
        <img src="https://vapiano.com/app/uploads/sites/4/2023/03/Banner-Website-Antipasti.jpg" />
        <p>ANTIPASTI</p>
      </div>

      <div class="container containerPlatos text-center">
        <div class="row row-col">
          <div class="col-12 col-md-6 col-lg-4 m-0">
            <a routerLink="/menu-pastas">
              <app-card img="https://vapiano.com/app/uploads/sites/4/2023/03/Antipasti-Carpaccio-Salmon-768x768.jpg"
                title="Carpaccio de Salmón" descripcion="Salmón ahumado en láminas, rúgula, cebollín y crema agria.">
              </app-card>
            </a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <a routerLink="/menu-pastas"><app-card
                img="https://vapiano.com/app/uploads/sites/4/2023/03/Banner-Website-Antipasti.jpg"
                title="Bruschetta Mozzarella"
                descripcion="Tomates marinados en aceite de oliva, ajo, albahaca, rúgula, pan ciabatta y queso mozzarella gratinado."></app-card></a>
          </div>
          <div class="col-12 col-md-6 col-lg-4 nuevoMenu">
            <div class="card d-md-block" style="width: 20rem; height: 10rem">
              <div class="card-body cardMenu d-md-block">
                <h5 class="card-title">Mas de nuestro Menú..</h5>
                <a href="https://drive.google.com/file/d/1NMWaq6No3ZiDsuXYLQrXpitG8Evl2RZi/view?usp=sharing"
                  id="fullMenu" class="btn btn btn-outline-danger">Get full menu PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="pizza" class="cover">
        <img src="https://vapiano.com/app/uploads/sites/4/2023/03/Banner-Website-Pizza.jpg" />
        <p>PIZZA</p>
      </div>

      <div class="container containerPlatos text-center">
        <div class="row row-col">
          <div class="col-12 col-md-6 col-lg-4 ms-0">
            <a routerLink="/menu-pastas"><app-card
                img="https://vapiano.com/app/uploads/sites/4/2023/03/Pizza-Chorizo-Espanol-Miel-Cayenne-768x768.jpg"
                title="Chorizo Español & Miel Cayenne"
                descripcion="Chorizo español picante, salsa pomodoro, pimentones, miel con pimienta cayena, cebolla caramelizada y queso de cabra."></app-card></a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <a routerLink="/menu-pastas"><app-card
                img="https://vapiano.com/app/uploads/sites/4/2023/03/Pizza-Crudo-768x768.jpg" title="Crudo"
                descripcion="Salsa pomodoro, queso mozzarella, jamón serrano y queso parmesano."></app-card></a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <app-card
              img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Filetto-Di-Manzo-Vino-Rosso-768x768.jpg"
              title="Burrata"
              descripcion="Queso burrata, salsa pomodoro, queso mozzarella, tomates cherry y aceite de oliva."></app-card>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <app-card img="https://vapiano.com/app/uploads/sites/4/2023/03/Pizza-Marguerita-768x768.jpg"
              title="Margarita" descripcion="Salsa pomodoro, mozzarella y albahaca fresca."></app-card>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <app-card img="https://vapiano.com/app/uploads/sites/4/2023/03/Pizza-Hawaii-768x768.jpg" title="Hawaii"
              descripcion="Piña dulce, jamón, salsa pomodoro y queso mozzarella."></app-card>
          </div>
          <div class="col-12 col-md-6 col-lg-4 nuevoMenu">
            <div class="card d-md-block" style="width: 20rem; height: 10rem">
              <div class="card-body cardMenu">
                <h5 class="card-title">Mas de nuestro Menú..</h5>
                <a href="https://drive.google.com/file/d/1NMWaq6No3ZiDsuXYLQrXpitG8Evl2RZi/view?usp=sharing"
                  id="fullMenu" class="btn btn btn-outline-danger d-md-block">Get full menu PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="vinos" class="cover">
        <img
          src="https://img.freepik.com/free-photo/front-view-wine-glasses-fresh-grapes-walnuts-yellow-cheese-wood-board-overturned-bottle-dark-background_140725-144998.jpg?size=626&ext=jpg&uid=R125477347&ga=GA1.1.1031628302.1696270278&semt=sph" />
        <p>CARTA DE VINOS</p>
      </div>

      <div id="vinos" class="container containerPlatos text-center">
        <div class="row row-col">
          <div class="col-12 col-md-6 col-lg-4 ms-0">
            <a routerLink="/menu-pastas"><app-card
                img="https://http2.mlstatic.com/D_NQ_NP_721707-MCO70586173912_072023-O.webp"
                title="Casillero del Diablo" descripcion="Vino Tinto Carmenere Botella 750ml"></app-card></a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <a routerLink="/menu-pastas"><app-card
                img="https://img.freepik.com/free-photo/elegant-wine-bottle-cup-with-grapes-generative-ai_188544-8088.jpg?t=st=1701878113~exp=1701881713~hmac=15a51c8f82d4dd8ae76185976f9fe4e6aed69ca9f30cc9adb38b11bb7712e633&w=740"
                title="Filetto Di Manzo con Vino Rosso" descripcion="Vino Tinto Di Manzo Botello 600ml."></app-card></a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <app-card img="https://img.interempresas.net/fotos/2020395.jpeg" title="Peregrinó"
              descripcion="Vino tinto peregrinó joven botella 750ml"></app-card>
          </div>
          <div class="col-12 col-md-6 col-lg-4 nuevoMenu">
            <div class="card" style="width: 20rem; height: 10rem">
              <div class="card-body cardMenu">
                <h5 class="card-title">Mas de nuestro Menú..</h5>
                <a href="https://drive.google.com/file/d/1NMWaq6No3ZiDsuXYLQrXpitG8Evl2RZi/view?usp=sharing"
                  id="fullMenu" class="btn btn btn-outline-danger d-md-block">Get full menu PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="cocteles" class="cover">
        <img src="https://vapiano.com/app/uploads/sites/4/2023/03/Banner-Website-Bebidas.jpg" />
        <p class="cocteles d-none d-md-block">COCTELES Y BEBIDAS</p>
      </div>

      <div id="vinos" class="container containerPlatos text-center">
        <div class="row row-col">
          <div class="col-12 col-md-6 col-lg-4 ms-0">
            <a routerLink="/menu-pastas"><app-card
                img="https://www.noticiasmontehermoso.com.ar/wp-content/uploads/2023/02/Como-preparar-negroni.jpg"
                title="Cocteles de Frutas" descripcion="Cocteles de Frutas"></app-card></a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <a routerLink="/menu-pastas"><app-card
                img="https://media.gazetadopovo.com.br/bomgourmet/2018/03/liquori-soda-italiana-e2a4f9e0.jpg"
                title="Granadina" descripcion="Granadina"></app-card></a>
          </div>
          <div class="ccol-12 col-md-6 col-lg-4 nuevoMenu">
            <div class="card" style="width: 20rem; height: 10rem">
              <div class="card-body cardMenu">
                <h5 class="card-title">Mas de nuestro Menú..</h5>
                <a href="https://drive.google.com/file/d/1NMWaq6No3ZiDsuXYLQrXpitG8Evl2RZi/view?usp=sharing"
                  id="fullMenu" class="btn btn btn-outline-danger d-md-block">Get full menu PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="sopas" class="cover">
        <img src="https://www.isabel.net/wp-content/uploads/2019/06/ensalada-italiana-cactus1920x1080.jpg" />
        <p>INSALATI Y SOPAS</p>
      </div>

      <div id="vinos" class="container containerPlatos text-center">
        <div class="row row-col">
          <div class="col-12 col-md-6 col-lg-4 ms-0">
            <a routerLink="/menu-pastas"><app-card
                img="https://www.espectaculos.com.es/u/fotografias/m/2022/6/7/f768x1-67382_67509_31.jpg"
                title="Ensalada César de la casa"
                descripcion="Mezcla de lechuga romana y lechuga verde crespa, queso parmesano, crotones y 1/2 steak de pollo en julianas. Acompañada de aderezo cesar."></app-card></a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <app-card img="https://gastromediterraneo.com/wp-content/uploads/2016/09/tipos-de-ensalada2.jpg"
              title="Ensalada de Burrata" descripcion="Ensalada de burrata con tomate, rúcula y aceitunas."></app-card>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <a routerLink="/menu-pastas"><app-card img="https://www.deliciosi.com/images/100/154/sopa-minestrone.jpg"
                title="Sopa Minestrone" descripcion="Una sopa de Verduras llena de Sabor."></app-card></a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <app-card
              img="https://ep01.epimg.net/elpais/imagenes/2020/02/03/icon/1580744872_722498_1580745369_sumario_normal_recorte1.jpg"
              title="Sopa de hervido" descripcion="Sopa de verduras al estilo italiano."></app-card>
          </div>
          <div class="col-12 col-md-6 col-lg-4 nuevoMenu">
            <div class="card d-md-block" style="width: 20rem; height: 10rem">
              <div class="card-body cardMenu">
                <h5 class="card-title">Mas de nuestro Menú..</h5>
                <a href="https://drive.google.com/file/d/1NMWaq6No3ZiDsuXYLQrXpitG8Evl2RZi/view?usp=sharing"
                  id="fullMenu" class="btn btn btn-outline-danger">Get full menu PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer-pie></app-footer-pie>
