<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid barra">
    <a class="navbar-brand"> <span class="verde">Ri</span><span class="blanco">sso</span><span class="rojo">tto</span> <span class="verde">  Ris</span><span class="blanco">tora</span><span class="rojo">nte</span></a>
    <button class="navbar-toggler btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon btn btn-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav menu">
        <a class="nav-link active" aria-current="page" href="">
          <span>Home</span>
          <span>
            <i class="bi bi-houses-fill"></i>
          </span>
        </a>
        <a class="nav-link" href="/menu">
          <span>Menu</span>
          <span>
            <i class="bi bi-menu-down"></i>
          </span>
        </a>
        <a class="nav-link" href="/reserva"> 
          <span>Reservas</span>
          <span>
            <i class="bi bi-clipboard2-fill"></i> 
          </span></a>
          <a class="nav-link" href="/Whatsapp">
            <span>Asesor en linea</span>
            <span>
              <i class="bi bi-menu-down"></i>
            </span>
          </a>

      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>






